<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://uk.linkedin.com/in/andrew-brown-6b4193115"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-sign-in">
    <% if user_signed_in? %>
      <div class="user-actions">
        <div class="new-story">
          <% if current_user %>
            <%= link_to 'New Story', new_story_path %>
          <% end %>
        </div>
        <div class="new-project">
          <% if current_user %>
            <%= link_to 'New Project', new_project_path %>
          <% end %>
        </div>
        <div class="new-publication">
          <% if current_user %>
            <%= link_to 'New Publication', new_publication_path %>
          <% end %>
        </div>
        <div class='sign-out'>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link footer-andrew-brown-sign-out" %>
        </div>
      </div>
    <% else %>
      <div class="sign-in">
        <%= link_to 'Sign In', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link footer-andrew-brown-sign-out" %>
      </div>
    <% end %>
  </div>
</div>
