<div class="example-2 project-card">
  <% if project.photo? %>
  <div class="project-card-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path project.photo, width: 700, height: 600, crop: :fit%>')">
  <% end %>
    <div class="project-data">
      <div class="project-content">
        <span class="project-name"><%= project.name %></span>
        <h1 class="project-description"><%= project.description %></h1>
        <p class="project-collaborators"><%= project.collaborators %></p>
        <p class="project-notes"><%= project.notes %></p>
      </div>
    </div>
  </div>
</div>
